.card {
    width: 30%;
    margin: 1%;
    background-color: #242b3f;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box; /* чтобы включить padding в расчеты размеров элемента */
    color: #fff;

  }
  
  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("/public/img/char1.jpg");
    background-size: cover;
    margin-right: 20px;
    float: left; /* чтобы аватар находился слева */
  }
  
 .name {
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
  }
  
.btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .actions {
    padding-top: 12px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  
  .actions button {
    margin: 0 10px;
  }
  
  .edit {
    background-color: #f1c40f;
  }
  
  .delete {
    background-color: #e74c3c;
  }
  
